<div class="container__grid">
    <br />
    <h4 style="text-align: center" class="card-title">Lista de Atendidos</h4>
    <br /><br />
    <div class="container__atendidos__cards">
      <template id="card">
        <div class="card__atendido">
          <h3>Juan</h3>
          <h4>20-06-2020</h4>
        </div>
      </template>
    </div>
    <div class="container__atendidos">
      <div class="content__table">
        <form
          method="GET"
          id="formbuscar"
          autocapitalize="false"
          autocomplete="off"
          class="row g-3"
        >
          <div class="col-auto">
            <input type="text" name="buscar" id="buscar" class="form-control" />
          </div>
          <div class="col-auto">
            <input
              class="btn btn-primary"
              type="submit"
              value="buscar"
              placeholder="busqueda.."
              id="btnbuscar"
            />
          </div>
        </form>
      </div>
      <br />
      <div class="alert" id="mensaje"></div>
      <div class="content__table">
        <br /><br />
        <form action="#" method="post">
          <input
            type="submit"
            name="btnAgregarDispositivo"
            value="Agregar"
            class="btn btn-primary mx-2"
            style="float: right"
          />
        </form>
        <select name="estado" id="selectAtendido">
          <option value="filtrar">Filtrar</option>
          <option value="atendido">Atendido</option>
          <option value="no atendido">No Atendido</option>
        </select>
      </div>
    </div>
    <div class="content__table__atendidos">
      <table class="table table-hover my-4" id="listingTable" style="width: 90%">
        <thead>
          <tr>
            <td>Id</td>
            <td>Dispositivos</td>
            <td>Fecha</td>
            <td>Cliente</td>
            <td>Acciones</td>
          </tr>
        </thead>
  
        <tbody id="tbody" class="list"></tbody>
      </table>
  
      <template id="template-table-atendido">
        <tr class="trow">
          <td class="my-2" id="id" name="id"></td>
          <td class="my-2" id="pac" name="pack"></td>
          <td class="my-2" id="fecha" name="fecha"></td>
          <td class="my-2" id="name" name="name"></td>
          <td class="" style="display: flex; flex-direction: row;padding:10px;">
            <a href="" id="editar" class="btn btn-primary mx-2 my-2 btn__action"
              >Atendido
              <?xml version="1.0" encoding="iso-8859-1"?>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 511.999 511.999" style="enable-background:new 0 0 511.999 511.999;" xml:space="preserve">
<g>
	<g>
		<path d="M508.745,246.041c-4.574-6.257-113.557-153.206-252.748-153.206S7.818,239.784,3.249,246.035
			c-4.332,5.936-4.332,13.987,0,19.923c4.569,6.257,113.557,153.206,252.748,153.206s248.174-146.95,252.748-153.201
			C513.083,260.028,513.083,251.971,508.745,246.041z M255.997,385.406c-102.529,0-191.33-97.533-217.617-129.418
			c26.253-31.913,114.868-129.395,217.617-129.395c102.524,0,191.319,97.516,217.617,129.418
			C447.361,287.923,358.746,385.406,255.997,385.406z"/>
	</g>
</g>
<g>
	<g>
		<path d="M255.997,154.725c-55.842,0-101.275,45.433-101.275,101.275s45.433,101.275,101.275,101.275
			s101.275-45.433,101.275-101.275S311.839,154.725,255.997,154.725z M255.997,323.516c-37.23,0-67.516-30.287-67.516-67.516
			s30.287-67.516,67.516-67.516s67.516,30.287,67.516,67.516S293.227,323.516,255.997,323.516z"/>
	</g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

            </a>
          </td>
        </tr>
      </template>
    </div>

    <div id="datos"></div>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center pagenumbers" id="pagination">
        <!-- <li class="page-item"><a class="page-link pageButton outline-none" id="button_prev" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item pageButton outline-none"><a class="page-link" id="button_next" href="#">Next</a></li> -->
      </ul>
    </nav>
  </div>
  <script type="text/javascript">
    function goBack() {
      window.history.back();
    }
    $(document).ready(function () {
      $(".toast").toast("show");
    });
  </script>
  <script src="./js/searchAten.js"></script>
  <script src="./js/pagination.js"></script>
  <!-- <script src="./js/main.js"></script> -->
  